#container {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#header {
	float: left;
  padding: 15px 0;
}

#nav {
	float: right;
  width: 240px;
}

#nav ul * {
  list-style-type: none;
}

a:link, a:visited {
  background-color: rgba(51, 102, 153, 0.3);
  color: white;
  padding: 2.5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

p {
  text-align: left;
}

h1, h2, h3, h4 {
  font-family: 'Zen Dots', serif;
  text-align: center;
  padding: 17.5px 0;
}

nav li a:hover:not(.active) {
  background-color: #33a5ab;
}

a.active {
  background-color: rgb(230, 3, 15);
  color: black;
}

h2 > em {
  color: rgb(230, 3, 15);
}

body {
  background-image: url('../media/HDF.jpg');
  background-size: cover;
  font-family: 'Work Sans', 'Helvetica', sans-serif;
}

#content {
	clear: both;
  background-color: rgba(255, 255, 255, 0.45);
  border: solid 1.8px rgb(230, 3, 15);
  border-radius: 5px;
	overflow: auto;
}

#main {
  padding: 17.5px 0;
  display: flex;
  align-items: center;
  flex-direction: row;
}

#main2 {
	width: 800px;
	clear: both;
	text-align: center;
	padding-left: 70px;
}

#main div {
  flex-direction: column;
  max-width: 40%;
  padding: 0 60px;
}

#main div img {
  margin: 17.5px auto;
  justify-content: center;
  justify-items: center;
}

.row > .column {
  padding: 0 2px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}


.column {
  float: left;
  width: 16%;
}


.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 10px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}


.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1000px;
}


.close {
  color: rgb(230, 3, 15);
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: rgb(141, 0, 7);
  text-decoration: none;
  cursor: pointer;
}


.mySlides {
  display: none;
}


.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 250px;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}


.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}


.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#video {
  color:  white;
  text-align: center;
}

#video iframe {
  border: solid 1.8px rgb(230, 3, 15);
  border-radius: 5px;
}

footer p {
	text-align: right;
	color: rgb(230, 3, 15);
}